html, body{
  margin: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient(#2196F3, #E3F2FD);
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:100%;
  height:120px;
  background: #0D47A1;
  color: #E3F2FD;
  text-shadow: 2px 2px #1565C0;
  padding: 10px;
}

.link-button{
  cursor: pointer;
}

.link-button :hover{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.title {
  font-size: 50px;
}

.correct{
  color: #9CCC65!important;
  text-decoration: underline;
}

.tl {
  font-size: 40px;
  color: #E3F2FD;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 2px 2px #1565C0;
}

.timer {
  margin-left: auto;
  margin-right:auto;
}

.text-line-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.scores {
  width: 500px;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 400px;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  opacity: 0.4;

}

.text-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 700px;
}
