body, html{
  margin: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:100%;
  height:120px;
  color: #E3F2FD;
  text-shadow: 2px 2px #616161;
  padding: 10px;
}

.link-button{
  font-size: 30px;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #E3F2FD;
  text-shadow: 2px 2px #616161;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.link-button :hover{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.title {
  font-size: 50px;
}

.correct{
  color: #9CCC65!important;
  text-decoration: underline;
}

.tl {
  font-size: 40px;
  color: #E3F2FD;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 2px 2px #616161;
  flex-wrap: wrap;
}

.timer {
  margin-left: auto;
  margin-right:auto;
}

.text-line-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.scores {
  width: 500px;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 400px;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  opacity: 0.4;

}

.text-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 700px;
}


/****** BG-COLOR DIFFICULTY CLASSES ******/

.easybg {
  background: linear-gradient(#4CAF50, #E8F5E9);
}

.hardbg {
  background: linear-gradient(#F44336, #FFEBEE);
}

.mediumbg {
  background: linear-gradient(#FFC107, #FFFDE7);
}


.easy-header {
  background: #1B5E20;
}
.medium-header {
  background: #F57F17;
}
.hard-header {
  background: #BF360C;
}